<h1>Log in as a tenant</h1>

<%= form_for @tenant, url: tenants_sessions_path do |t| %>
	Email: <%= t.email_field :email %><br />
	Password: <%= t.password_field :password %><br />
	<%= t.submit "Log In!" %>
<% end %>