
<table style="width:100%">
	<thead>
		<tr>
			<td>Due Date</td>
			<td>Tenant</td>
			<td>Amount Due</td>
			<td>Status</td>
		</tr>
	</thead>
<tbody>
	<% @invoices.sort { |x,y| y <=> x }.each do |invoice| %>
		<tr>
			<td><%= invoice.due_date.slice(/\d{4}(-\d{2})+/) %></td>
			<td><%= invoice.tenant.name %></td>
			<td><%= invoice.amount_due %></td>
			<td><%= invoice.paid? ? 'Paid' : 'Unpaid' %></td>
		</tr>
		<% end %>
	</tbody>
</table>