<thead>
	<tr>
		<td>Due Date</td>
		<td>Tenant</td>
		<td>Amount Due</td>
		<td>Status</td>
	</tr>
</thead>
<tbody>
	<% @invoices.each do |invoice| %>
	<tr>
		<td><%= invoice.due_date %></td>
		<td><%= invoice.tenant.name %></td>
		<td><%= invoice.amount_due %></td>
		<td><%= invoice.paid? ? 'Paid' : 'Unpaid' %></td>
	</tr>
<% end %>
</tbody>