<h1>Log in as a property manager</h1>

<%= form_for @manager, url: property_managers_sessions_path do |t| %>
	Email: <%= t.email_field :email %><br />
	Password: <%= t.password_field :password %><br />
	<%= t.submit "Log In!" %>
<% end %>